# Intrdouction to Python - Loop - Assignment #3

## 1. Create a list that holds 5 data variables.

In [49]:
name ="John Smith"; age = "25"; height="185"; weight="75"; occupation="Random job"
person = [name, age, height, weight, occupation]

## 2.	Print out those variables by using a for loop

In [40]:
for item in person: print(item)

John Smith
25
185
75
Random job

## 3.	Modify your for loop to add a message to your for loop.

In [41]:
for item in person:
  if(item == person[0]): print("Info:")
  print("\t",item)

Info:
	 John Smith
	 25
	 185
	 75
	 Random job

## 4.	Use a for loop to print even numbers from 1-20.

In [38]:
for num in range(1, 21): 
  if num%2==0: print(num, end=", " if num <20 else "\n")

2, 4, 6, 8, 10, 12, 14, 16, 18, 20

## 5.	Sort your list in alphabetic order.

In [47]:
print(sorted(person))

['185', '25', '75', 'John Smith', 'Random job']

In [45]:
# person.sort()
# print(person)

['185', '25', '75', 'John Smith', 'Random job']

## 6.	Print out the first three elements of your list.

In [50]:
print(person[:3])

['John Smith', '25', '185']

## 7.	Create a loop to print the last 2 elements of your list.

In [51]:
for item in range(0, len(person)):
  if(item>=len(person)-2): print(person[item])

75
Random job

In [55]:
# Another way
for item in range(len(person)-2, len(person)):
  print(person[item])

75
Random job